{{#if simpleMode}} {{> navbar-simple}} {{else}}
<aside
  id="shift-sidebar"
  class="shift-sidebar"
  aria-label="Shift PDF navigation"
>
  <div class="shift-sidebar-content">
    <div class="shift-sidebar-header">
      <a href="{{baseUrl}}index.html" class="shift-logo" id="home-logo">
        <img
          id="nav-logo"
          src="{{baseUrl}}{{#if brandLogo}}{{brandLogo}}{{else}}images/shift-pdf-logo.svg{{/if}}"
          alt="{{#if brandName}}{{brandName}}{{else}}Shift PDF{{/if}} Logo"
          class="shift-logo-img"
        />
        <span id="nav-brand" class="shift-logo-text">
          {{#if brandName}}{{brandName}}{{else}}PDF{{/if}}
        </span>
      </a>
    </div>

    <nav class="shift-primary-nav" aria-label="Primary tools">
      <a
        href="{{baseUrl}}index.html"
        class="shift-nav-link"
        data-nav="home"
        title="All tools"
      >
        <svg
          class="shift-nav-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M19.25 19.25 15.5 15.5M4.75 11a6.25 6.25 0 1 1 12.5 0 6.25 6.25 0 0 1-12.5 0"
          />
        </svg>
        <span class="shift-nav-label">All tools</span>
      </a>
      <a
        href="{{baseUrl}}compress-pdf.html"
        class="shift-nav-link"
        data-nav="compress"
        title="Compress"
      >
        <svg
          class="shift-nav-icon with-padding"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="none"
          viewBox="0 0 16 16"
          aria-hidden="true"
        >
          <path
            fill="currentColor"
            d="M7 3a1 1 0 1 0 0 2 1 1 0 0 0 0-2M5 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2M7 7a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
          />
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M2.75 0A2.75 2.75 0 0 0 0 2.75v10.5A2.75 2.75 0 0 0 2.75 16h10.5A2.75 2.75 0 0 0 16 13.25V2.75A2.75 2.75 0 0 0 13.25 0zM1.5 2.75c0-.69.56-1.25 1.25-1.25h1.384a1 1 0 1 0 1.732 0h7.384c.69 0 1.25.56 1.25 1.25v10.5c0 .69-.56 1.25-1.25 1.25H2.75c-.69 0-1.25-.56-1.25-1.25z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="shift-nav-label">Compress</span>
      </a>
      <a
        href="{{baseUrl}}merge-pdf.html"
        class="shift-nav-link"
        data-nav="merge"
        title="Merge"
      >
        <svg
          class="shift-nav-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M11 4.75a.75.75 0 0 1 .75-.75h2a.75.75 0 0 1 .53.22l5.5 5.5c.141.14.22.331.22.53v5A2.75 2.75 0 0 1 17.25 18h-1.354a2.75 2.75 0 0 1-2.646 2h-6.5A2.75 2.75 0 0 1 4 17.25v-8.5A2.75 2.75 0 0 1 6.75 6h3a.75.75 0 0 1 .53.22l5.5 5.5c.141.14.22.331.22.53v4.25h1.25a1.25 1.25 0 0 0 1.25-1.25v-4.69L13.44 5.5h-1.69a.75.75 0 0 1-.75-.75M6.75 7.5A1.25 1.25 0 0 0 5.5 8.75v8.5a1.25 1.25 0 0 0 1.25 1.25h6.5a1.25 1.25 0 0 0 1.25-1.25V13h-2.75A2.75 2.75 0 0 1 9 10.25V7.5zm3.75 1.06 2.94 2.94h-1.69a1.25 1.25 0 0 1-1.25-1.25z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="shift-nav-label">Merge</span>
      </a>
      <a
        href="{{baseUrl}}pdf-converter.html"
        class="shift-nav-link"
        data-nav="convert"
        title="Convert"
      >
        <svg
          class="shift-nav-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M7.807 4.248a.75.75 0 0 1-.055 1.06l-1.048.942h9.546A3.75 3.75 0 0 1 20 10v1.25a.75.75 0 0 1-1.5 0V10a2.25 2.25 0 0 0-2.25-2.25H6.704l1.048.943a.75.75 0 1 1-1.004 1.114L4.251 7.56a.748.748 0 0 1 0-1.12l2.497-2.247a.75.75 0 0 1 1.06.055M4.75 12a.75.75 0 0 1 .75.75V14a2.25 2.25 0 0 0 2.25 2.25h9.546l-1.048-.943a.75.75 0 1 1 1.004-1.114l2.497 2.247q.025.022.048.047a.75.75 0 0 1-.048 1.073l-2.497 2.248a.75.75 0 1 1-1.004-1.116l1.047-.942H7.75A3.75 3.75 0 0 1 4 14v-1.25a.75.75 0 0 1 .75-.75"
            clip-rule="evenodd"
          />
        </svg>
        <span class="shift-nav-label">Convert</span>
      </a>
      <a
        href="{{baseUrl}}sign-pdf.html"
        class="shift-nav-link"
        data-nav="esign"
        title="E-sign"
      >
        <svg
          class="shift-nav-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="m4.75 19.25 4.25-1 9.293-9.293a1 1 0 0 0 0-1.414l-1.836-1.836a1 1 0 0 0-1.414 0L5.75 15zM19.25 19.25h-5.5"
          />
        </svg>
        <span class="shift-nav-label">E-sign</span>
      </a>
    </nav>

    <section
      id="shift-favorites"
      class="shift-favorites"
      aria-labelledby="shift-favorites-heading"
      hidden
    >
      <h2 id="shift-favorites-heading" class="shift-sidebar-section-title">
        Favorites
      </h2>
      <nav
        id="shift-favorites-nav"
        class="shift-favorites-nav"
        aria-label="Favorite tools"
      ></nav>
    </section>

    <div class="shift-sidebar-footer">
      <button
        id="shift-sidebar-collapse"
        type="button"
        class="shift-nav-link shift-collapse-btn"
        aria-controls="shift-sidebar"
        aria-expanded="true"
        title="Collapse sidebar"
      >
        <svg
          class="shift-nav-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M4.75 6.75a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v10.5a2 2 0 0 1-2 2H6.75a2 2 0 0 1-2-2zM9.75 5v14"
          />
        </svg>
        <span class="shift-nav-label">Collapse</span>
      </button>
    </div>
  </div>
</aside>
{{/if}}
